* {
  border: none;
  font-family: FiraCode Nerd Font;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

window#waybar {
  background: #0d1017;
}

#workspaces {
  background: #feb454;
  color: #0d1017;
}

#tooltip {
  border: 1px #bfbdb6;
  background: #0d1017;
}

#l1 {
  color: #feb454;
  background: #0f131a;
}

#tray {
  background: #0f131a;
}

#l1, #r1, #r2, #r3 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

#r1 {
  background: #0f131a;
  color: #0d1017;
}

#network, #custom-pipewire {
  background: #0f131a;
  color: #59c2ff;
}

#r2 {
  background: #131721;
  color: #0f131a;
}

#cpu, #memory, #battery {
  background: #131721;
}

#cpu #memory {
  color: #f26d78;
}

#battery {
  color: #aad94c;
}

#r3 {
  background: #0d1017;
  color: #131721;
}

#clock {
  background: #131721;
  color: #feb454;
}
